@model SLBS.Membership.Domain.Membership

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Membership</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MembershipNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MembershipNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidUpTo)
        </dt>
       

        <dd>
            @if (Model.PaidUpTo.HasValue)
            {
                @(Model.PaidUpTo.Value.ToString("MMM-yyyy"));
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastNotificationDate)
        </dt>

        <dd>
            @if (Model.LastNotificationDate.HasValue)
            {
                @(Model.LastNotificationDate.Value.ToString("dd-MMM-yyyy"));
            }
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>

        <dd>
            @if (Model.ApplicationDate.HasValue)
            {
                @(Model.ApplicationDate.Value.ToString("dd-MMM-yyyy"));
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlockEmails)
        </dt>

        <dd>

            @if (!Model.BlockEmails.HasValue)
            {
                Model.BlockEmails = false;
            }
            @Html.CheckBoxFor(model => model.BlockEmails.Value, new { @disabled = "disabled"})
        </dd>

    </dl>
</div>

<hr />

@{
    Html.RenderPartial("_Comments", Model.MembershipComments);
}

<p>
    @Html.ActionLink("Edit Membership", "Edit", new { id = Model.MembershipId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
