@model SLBS.Membership.Domain.Child

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Child</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Membership.MembershipNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Membership.MembershipNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaConsent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaConsent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmbulanceCover)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmbulanceCover)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChildId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<hr/>

@{
    Html.RenderPartial("_Comments", Model.Comments);
}

<script>

    function addComment() {

        var postData = { ChildId: '@Model.ChildId', Comment: $("#comment").val(), CreatedBy: $("#createdBy").val()};

        jQuery.noConflict();
        $('#commentModal').modal('hide');

        $.ajax({
            url: "@Url.Action("AddComment","Children")",
            type: 'POST',
            data: JSON.stringify(postData),
            dataType: 'json',
            contentType: 'application/json',
            success: function () {
                console.log('added');
                location.reload();

            },
            error: function () { alert("Error adding note");}
        });

    }

</script>

