@model SLBS.Membership.Domain.Member

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
       
       
        <dt>
            @Html.DisplayNameFor(model => model.MemberNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Father.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Father.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mother.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mother.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidUpTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidUpTo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
