@model IEnumerable<SLBS.Membership.Domain.Member>

@{
    ViewBag.Title = "Members";
}

<h2>Members</h2>

    <div class="row">
        <div class="col-md-4">
            @Html.ActionLink("Create New", "Create")
        </div>
        <div class="col-md-8">
            <span id ="userMessage">@ViewBag.UserMessage</span>
            <span style="color:red" id="errorMessage"></span>
        </div>
    </div>
   

<table class="table">
    <tr>
        <th>
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Father.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mother.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidUpTo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <input type="checkbox" name="memberSelect" value="@item.Id"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyName)
        </td>
        <td>
            @{
                if (item.Father != null)
                {
                    @Html.ActionLink(item.Father.Name, "Edit", "Fathers", new { id = item.Father.Id }, null)
                }

            }
        </td>
        <td>
            @{
                if (item.Mother != null)
                {
                    @Html.ActionLink(item.Mother.Name, "Edit", "Mothers", new { id = item.Mother.Id }, null)
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaidUpTo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

@Html.AntiForgeryToken()

<div class="row">
    <div class="col-md-12">
        
        <a href="#" onclick="sendMail()" class="btn btn-primary">Send</a>
    </div>
</div>

<script>
    
    function addAntiForgeryToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function sendMail() {
        var url = '@Url.Action("Send")';

        var selected = [];
        $("input:checkbox[name=memberSelect]:checked").each(function () {
            console.log($(this).val());
            selected.push($(this).val());
        });

        var param = {
            ids: selected,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };

        $.ajax({
            url: url,
            type: 'POST',
            data: param,
            dataType: "json",
            success: function(data) {
                console.log('done');
            },
            error: function(error) {
                $("#errorMessage").html("Error occured");
            }

        });
    }
</script>