@model IEnumerable<SLBS.Membership.Domain.Membership>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MembershipNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidUpTo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidUpTo)
            </td>
        </tr>
    }

</table>
