@model IEnumerable<SLBS.Membership.Domain.Adult>

@{
    ViewBag.Title = "Adults";
}

<h2>Adults</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.MembershipId }) | 
    @Html.ActionLink("Back to Memberships","Index","Memberships")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Membership.MembershipNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobilePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LandPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Role)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    var className = item.IsActive ? "" : "text-muted";

    <tr class="@className">
        <td>
            @Html.DisplayFor(modelItem => item.Membership.MembershipNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobilePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LandPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdultId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdultId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdultId })
        </td>
    </tr>
}
</table>
